services:
  dev:
    container_name: damastech-frontend-dev
    build:
      context: .
      target: development
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./:/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  prod:
    container_name: damastech-frontend-prod
    build:
      context: .
      target: production
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
