@font-face {
  font-family: "Lexend Deca";
  src: url(../assets/fonts/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
  font-family: "Lexend Deca", serif;
}

body {
  margin: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

header {
  padding: 50px 85px;
  width: 100%;
  background: #FFFFFF;
}

img {
  display: block;
}

.barra-topo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.navegacao {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navegacao a {
  text-decoration: none;
  color: #111111;
  display: flex;
  gap: 10px;
  padding: 0.9375rem 0;
}

.login {
  display: flex;
  align-items: center;
  width: 12.5rem;
  height: 3.375rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
  font-family: "Roboto";
  font-size: 16px;
  gap: 15px;
  
}

.login a {
  text-decoration: none;
}

.login #login {
  color: #111111;
  display: inline-block;
  padding: 12px 12px;
  margin-left: 8px;
}

.login #registrar {
  display: inline-block;
  background-color: #4A0676;
  color: white;
  padding: 8px 20px;
  border-radius: 16px;
  /* margin-right: 10px; */
}