@import "tailwindcss";

@theme {
  --color-damastech: #4A0676
}

@font-face {
  font-family: "Lexend Deca";
  src: url(../assets/fonts/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
  font-family: "Lexend Deca", serif;
}

body {
  margin: 0;
  width: 100vw;
  background: #ccc
}

* {
  box-sizing: border-box;
}